@font-face {
font-family: "univers";
src: url("/font/univers.otf") format ("otf");
        }
/****** height ******/

header {
  height: 800px;
  text-align: center;
  color: white;
}

main {
  height: 1600px;
  color: DimGrey;
}

#about {
  height: 600px;
  background-color: darkGray;
  clear:left;
  margin-bottom: -25px;
}

footer {
  height: 400px;
  text-align: center;
  color: white;
}

h2 {
  color: black;
}

/****** GRID ******/

.full-width {
    width: 1200px;
    margin: auto;
}

.half-width {
    width: 600px;
    float: left;
}

.third-width {
    width: 400px;
    float: left;
}


 #project2 {
  clear: left;
}

#project3 {
 clear: left;
}

#me {
  clear: left;
}


/**project*/
body {
  font-family: "univers" sans-serif;
}

header {
    background: url('../img/hero-image.png');
    background-size: cover;
}

header h1 {
  font-size: 60px;
  padding-top: 300px;
  padding bottom: 50px;
  font-weight: bold;
}

#project1 h1 {
  color: black;
  text-transform: uppercase;
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  padding-top: 40px;
  padding-bottom: 60px;
}

header p {
  font-size: 48px;
}

#project1 div {
  padding-bottom: 50px;
}

#project2 div {
  padding-bottom: 50px;
}

#project3 div {
  padding-bottom: 50px;
}

/** about**/

#about h1 {
  color: black;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  padding-top: 50px;
  padding-bottom: 40px;
  text-transform: uppercase;
}

/**footer**/
footer {
  background: url('../img/footer-image.png');
  background-size: cover;
}

footer h1 {
  font-size: 36px;
  font-weight: bold;
  padding-top: 40px;
  padding-bottom: 40px;
  text-transform: uppercase;
}

footer h2 {
  color: white;
}

footer p{
  text-align: center;

}

#cr {
  font-size: 18px;
  padding-top: 50px;
  clear: both;
}
